<form method="post" action="{{ path('app_client_delete', {'id': client.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');"
      class="inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button type="submit"
            class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded-xl shadow transition">
        Supprimer
    </button>
</form>
